@model BookStore.Models.BookCategory
@{
    ViewData["Title"] = "Category";
}

<br />
<h3 class="text-primary">Category : @Model.CategoryName</h3>
<br />

<div class="row jumbotron">
    @foreach (var Book in Model.Books)
    {
        <div class="col-3 card">
            <div class="card-header">
                <h5>@Book.Title</h5>
            </div>
            <img class="card-img-top" src="@Book.ImagePath" title="@Book.Title" alt="@Book.Title" />
            <div class="card-body">
                <div class="mb-2">
                    <span class="lead font-weight-bold"> &#2547; @Book.Price</span>
                    <a asp-controller="Book" asp-action="Details" asp-route-id="@Book.BookId" class="btn btn-sm btn-success float-right">View Details</a>
                </div>
                <div>
                    By:&nbsp; <a asp-action="Author" asp-route-id="@Book.Author.AuthorId">@(Book.Author?.Name)</a>
                </div>
            </div>
        </div>
    }
</div>
